<!DOCTYPE html>
<html>
<head>
<script>
function create_user_request(payload) {
  var http;
  http = new XMLHttpRequest();
  http.open("POST", "/api/users", true);
  http.setRequestHeader('Content-Type', 'application/json');
  http.onreadystatechange = function() {
    if (http.readyState == 4) {
      var response = http.responseText;
      document.getElementById('response').textContent = response;
    }
  }
  http.send(payload);
}
</script>
</head>
<body>
    <h3>Welcome Admin!</h3>
    <h3>Create user:</h3>
    <table>
        <tbody>
            <tr><td><input type="text" id="email" placeholder="email address" /></td></tr>
            <tr><td><input type="password" id="password" placeholder="password" /></td></tr>
            <tr><td><input type="password" id="confirm" placeholder="confirm" /></td></tr>
            <tr><td><input type="button" value="Create" onclick="create_user();" /></td></tr>
        </tbody>
    </table>
    <hr>
    <h3>Created user object:</h3>
    <pre id="response"></pre>
    <script>
    function create_user() {
        var username = document.getElementById('email').value;
        var password = document.getElementById('password').value;
        var confirm = document.getElementById('confirm').value;
        if (password === confirm) {
            var payload = JSON.stringify({"username":username, "password":password})
            create_user_request(payload);
        } else {
            alert("Password do not match.");
        }
    }
    </script>
</body>
</html>
